#--- DH-PHP handlers ---
AddHandler php-cgi .php
Action php-cgi /cgi-bin/dispatch.cgi

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?/$1 [L]
